{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Créer un compte</h1>
    <a style="margin-bottom: 20px" href="{{ path('compte_index') }}" class="btn btn-primary"><em class="glyphicon glyphicon-list"></em></a>
    {{ form_start(form,{'method': 'post', 'action': path('compte_new')}) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" style="margin-top: 20px" type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
