{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Departement</h1>
    <a class="btn btn-primary" href="{{ path('departement_index') }}"><em class="glyphicon glyphicon-list"></em></a>
    {{ form_start(form,{'method': 'post', 'action': path('departement_new')}) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" style="margin-top: 20px" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
